#Minecraft server properties
server-ip={{ item.properties.get('server_ip', '') }}
server-port={{ item.properties.get('server_port', '') }}
online-mode={{ item.properties.get('online_mode', 'true') }}
motd={{ item.properties.get('motd', 'A Minecraft Server') }}
level-name={{ item.properties.get('level_name', 'world') }}
level-type={{ item.properties.get('level_type', 'DEFAULT') }}
level-seed={{ item.properties.get('level_seed', '') }}
allow-nether={{ item.properties.get('allow_nether', 'true') }}
allow-flight={{ item.properties.get('allow_flight', 'false') }}
announce-player-achievements={{ item.properties.get('announce_player_achievements', 'true') }}
generate-structures={{ item.properties.get('generate_structures', 'true') }}
generator-settings={{ item.properties.get('generator_settings', '') }}
spawn-animals={{ item.properties.get('spawn_animals', 'true') }}
spawn-monsters={{ item.properties.get('spawn_monsters', 'true') }}
spawn-npcs={{ item.properties.get('spawn_npcs', 'true') }}
difficulty={{ item.properties.get('difficulty', '1') }}
hardcore={{ item.properties.get('hardcore', 'false') }}
pvp={{ item.properties.get('pvp', 'true') }}
max-build-height={{ item.properties.get('max_build_height', 256) }}
max-world-size={{ item.properties.get('max_world_size', 29999984) }}
max-players={{ item.properties.get('max_players', '20') }}
max-tick-time={{ item.properties.get('max_tick_time', '60000') }}
player-idle-timeout={{ item.properties.get('player_idle_timeout', '0') }}
network-compression-threshold={{ item.properties.get('network_compression_threshold', 256) }}
view-distance={{ item.properties.get('view_distance', '10') }}
white-list={{ item.properties.get('white_list', 'false') }}
op-permission-level={{ item.properties.get('op_permission_level', 4) }}
resource-pack={{ item.properties.get('resource_pack', '') }}
resource-pack-hash={{ item.properties.get('resource_pack_hash', '') }}
enable-command-block={{ item.properties.get('enable_command_block', 'false') }}
enable-query={{ item.properties.get('enable_query', 'false') }}
enable-rcon={{ item.properties.get('enable_rcon', 'false') }}
gamemode={{ item.properties.get('gamemode', '0') }}
force-gamemode={{ item.properties.get('force_gamemode', 'false') }}
snooper-enabled={{ item.properties.get('snooper_enabled', 'true') }}
